

* {box-sizing:border-box}
* {font-family: 'Courier New', Courier, monospace;}
* body{
  background-color: #ffff80;
}

/* contêiner de apresentação de slides */
.slideshow-container {
  max-width: 1000px;
  max-height: 800px;
  position: relative;
  margin: auto;
}
/* Ocultar as imagens por padrão */
.mySlides {
  display: none;
}

/* Botões Próximo e Anterior */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Posicione o "botão seguinte" à direita */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Ao passar o mouse, adicione uma cor de fundo preta com um pouco de transparência */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Texto da legenda */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Texto do número (1/6 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Os pontos/balas/indicadores */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/*Sugestão da fonte para o texto - inicio*/
img {
    height: 400px;
    border-radius: 8px 8px 8px 20%;
    }

.text{
    color: #000;
    text-align: left;
    font-size: 12px;
    }
p{
 text-align: center;
 font-size: x-large;
}

/*EXERCICIO POSTERIOR EXCREVER LA NO DESAFIO.TXT*/
/*Sugestão da fonte para o texto - fim*/
/* Sobre o About ou editar sobre o Repositório */


/*MENU HORIZONTAL INICIO*/
.menu-horizontal{
    text-align: center;
    text-transform: none;
    padding: 0%;
  }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
li {
    display: inline-block;
  }
  a:hover{
    background-color: #e6e600;
  }
  /*MENU HORIZONTAL FINAL*/
  button{
        margin-left: auto; /* Move o botão para a direita */
        margin-right: auto; /* Move o botão para a esquerda */
        display: block; /* Faz com que o botão se comporte como um bloco */
    }
  div button  {
    align-items: center;
  }






  








  
    h1,h2,h3,h4,h5,h6{
        text-align: center;
    }
    h6{
      text-align: left;
      color: red;
  }
    .dom{
      float: right;
      /*margin-right: 0; /* ou qualquer valor desejado */
    }
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    tr:nth-child(even) {
      background-color: #e8de556c;
    }
div p{
  color: #000;
  text-align: left;
  font-size: 12px;

}
